.root {
	-fx-font-family: monospace;
	-fx-font-size: 15pt;
	/*-fx-background-color: #550080;*/
	-fx-background-image: url(../images/earth.gif);
	-fx-background-size: cover;	
}

.text-field {
	-fx-background-color: yellow, black, lightgray;
	-fx-background-radius: 5px, 15px, 15px;
	-fx-background-insets: 0px, 3px, 5px;
	-fx-font-size: 15pt;
}

.label {
	-fx-effect: dropshadow(gaussian, green, 10, 0.2, 3, 3)
}

#saludarButton {
	-fx-text-fill: red;
}

#despedirButton {
	-fx-text-fill: orange;
}

#saludoLabel {
	-fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, blue 0%, red 50%, white 100%);
	-fx-font-size: 50pt;
	-fx-font-weight: bold;
	-fx-font-family: arial;
}

.button:hover {
	-fx-effect: dropshadow(gaussian, cyan, 50, 0.5, 0, 20);
}

.button:armed {
	-fx-background-color: yellow, lightyellow;
}

.botones-negros {
	
}
